.cardFlexBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2em;
}

.singleCardWrapper {
  width: 30%;
  min-width: 216px;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 768px) {
  .singleCardWrapper {
    width: 100%;
    margin-right: 0;
  }

  .singleCardWrapper:last-child {
    margin-bottom: 0;
  }

  /* Override Polaris Page CSS for mobile screens */
  .Polaris-Page {
    margin: 0 2vw 0 2vw;
  }

  .Polaris-Page-Header {
    padding-left: 0;
  }
}

