.cardFlexBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2em;
}

@media only screen and (max-width: 77em) {
  /* Override Polaris Page CSS for mobile screens */
  .communityProjectsPage :global(.Polaris-Page) {
    margin: 0 2vw;
  }

  .communityProjectsPage :global(.Polaris-Page-Header) {
    padding-left: 0;
  }
}

